<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553925898326-dv22a61sq0hv23lvtv3mclgofb8u4bjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553925898326-dv22a61sq0hv23lvtv3mclgofb8u4bjc</string>
	<key>API_KEY</key>
	<string>AIzaSyCeGR3e80EUwUnp3OZAW05GqaQFfBuWXl0</string>
	<key>GCM_SENDER_ID</key>
	<string>553925898326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deante.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-580d3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-580d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553925898326:ios:42855a21563b53a6594bf7</string>
</dict>
</plist>